#temp{
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
    position: fixed;
}
#line{
    height: 4px;
    background-color: rgb(255, 255, 255);
}

#line2{
    height: 4px;
    background-color: #1976d2;
}
